%h1 Welcome #{@user.email}!
.jumbotron
  .row
    .col-md-12
      %h2
        To-do Items
        =link_to "New Item", new_user_item_path(current_user), class: "pull-right btn btn-success"
      <br>
      .div
        %ul
        - @items.each do |item|
          %li
            = render partial: "items/item", locals: {item: item}
