%h1 Welcome #{@user.email}!
.jumbotron
  .row
    .col-md-12
      %h2
        To-do Items
        =link_to "New Item", new_user_item_path(current_user), class: "pull-right btn btn-success"
      <br>
      .div
        %ul
        - @items.each do |i|
          %li
            %h4
              #{i.name}
              %small.pull-right #{i.created_at}
